@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "San Francisco";
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 80vw;
  margin: 0 auto;
  gap: 48px;
  font-size: 14px;
}
nav {
  font-size: 13px;
}
main {
  /* max-width: 80vw; */
  margin: 0 auto;
  margin-bottom: 2vw;
}
li {
  cursor: pointer;
}
ul {
  list-style: none;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* max-width: 80vw;
  margin: 0 auto; */
  align-items: center;
}
svg {
  display: block;
}
#produto {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
#precos {
  font-size: 17.6px;
}
#a-vista,
#parcelas,
.pequeno {
  font-size: 12.8px;
}
.cinza {
  color: #6e6e73;
}
a {
  color: #0066cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#opcoes-produto {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#selo-carbono {
  display: flex;
  align-items: center;
  gap: 4px;

  & img {
    width: 25px;
  }
}
input[type="radio"] {
  display: none;
}

#selecao-cores {
  display: flex;
  gap: 16px;

  & label {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label img {
    max-width: 32px;
    min-width: 10px;
    cursor: pointer;
    mix-blend-mode: color;
  }
}

.cores {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input[type="radio"]:checked + label {
  border: solid 2px #0066cc;
  border-radius: 50%;
}
#opcoes-tamanho input[type="radio"]:checked + label {
  border: solid 2px #0066cc;
}
#selecionar-imagem input[type="radio"]:checked + label {
  border: none;
  border-radius: 0;
  transform: translateY(-6px);
  border-bottom: solid 2px #6e6e7399;
}
#selecionar-imagem label {
  transition: transform 0.2s ease;
  position: relative;
  display: inline-block;
}
#opcoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#tamanho-caixa {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#opcoes-tamanho {
  display: flex;
  gap: 10px;
  & label {
    border: 1px solid black;
    padding: 25px 40px;
    font-size: 17.6px;
    border-radius: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}
#info-extra,
.comprar-depois {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.entrega {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.informacoes-entrega {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
button {
  background-color: #0071e3;
  color: white;
  font-size: 17.6px;
  border: none;
  padding: 8px 35px;
  align-self: start;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #057bf1;
}
.salvar-depois {
  display: flex;
  gap: 3px;
}
#selecionar-imagem label img {
  width: 46px;
  cursor: pointer;
}
#selecionar-imagem {
  display: flex;
  gap: 25px;
  justify-content: center;
}
